body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #222;
    background-color:#edcdb8;
    font-weight: 500;
}


main {
    padding: 5%;
}

a {
    text-decoration: none;
    color: #8c3800;
}

a:hover  {
    text-decoration: underline;
    }

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.8rem;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 1.2rem;
}

header nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    
}

section {
    border: solid #f2f2f2;
    border-radius: 10px;
    margin: 3% 0;
    padding: 3%;
    background-color: #fff;
}

section h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    
}

section .row {
    display: flex;
    flex-wrap: wrap;     
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}


section .row img {
    max-width: 350px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;       
}


section .text-intro {
    flex: 1;
    min-width: 250px;
}


section ul {
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
}

.liste-vignettes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-left: 0;
    }

.liste-vignettes li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.liste-vignettes .vignette {
    margin-top: 10px;
    width: 100px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.8rem;
}
